body {
    background-image: url('./images/background-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}
