body {
    background-color:white;
}

img {
    position: fixed;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    object-fit: cover;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}
